<div class="hidden success">{{success}}</div>
<div class="hidden validation">{{validation}}</div>
<div class="hidden error">{{error}}</div>
<div class="basic">
    <b>Creer mon compte</b><br/><br/>
    Mail adress :   <input name="mail"      placeholder="Mail adress"   ng-model="mail" ><br/>
    Pseudo :        <input name="pseudo"    placeholder="Pseudo"        ng-model="pseudo"><br/>
    Password :      <input name="password"  placeholder="Password"      ng-model="password" type="password"><br/>
    Password :      <input name="password2" placeholder="Confirm"       ng-model="password2" type="password"><br/>
    First name :    <input name="firstname" placeholder="First name"    ng-model="firstname"><br/>
    Last name :     <input name="lastname"  placeholder="Last name"     ng-model="lastname"><br/>
    <input name="modifier" id="envoyer" type="submit" value="envoyer"><br/>
</div>