<div class="hidden success">{{success}}</div>
<div class="hidden validation">{{validation}}</div>
<div class="hidden error">{{error}}</div>
<div class="basic">
    <b>Se connecter</b><br/><br/>
    Pseudo :        <input name="pseudo"    placeholder="Pseudo"        ng-model="pseudo"><br/>
    Password :      <input name="password"  placeholder="Password"      ng-model="password" type="password"><br/>
    <input name="modifier" id="envoyer" type="submit" value="envoyer"><br/>
</div>
<div class="hidden forgot basic">
    <b>Mot de passe oublié ?</b><br/><br/>
    Votre mail :    <input name="pseudo"    placeholder="Pseudo"        ng-model="mail"><br/>
    Votre pseudo :  <input name="pseudo"    placeholder="Pseudo"        ng-model="pseudo"><br/>
    <input id="forgot" type="submit" value="reinitialiser mon mot de passe"><br/>
</div>